
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - RFID合同管理系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />     
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/bootstrapValidatorCss")
    @Scripts.Render("~/bundles/jquery")
 
    @RenderSection("scripts", required: false)
    <style>
        #main-nav {
            margin-left: 1px;
        }

            #main-nav.nav-tabs.nav-stacked > li > a {
                padding: 10px 8px;
                font-size: 12px;
                font-weight: 600;
                color: #4A515B;
                background: #E9E9E9;
                background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
                background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
                border: 1px solid #D5D5D5;
                border-radius: 4px;
            }

                #main-nav.nav-tabs.nav-stacked > li > a > span {
                    color: #4A515B;
                }

                #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
                    color: #FFF;
                    background: #3C4049;
                    /*background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
                    background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";*/
                    border-color: #2B2E33;
                }

                    #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
                        color: #FFF;
                    }

            #main-nav.nav-tabs.nav-stacked > li {
                margin-bottom: 4px;
            }

        /*定义二级菜单样式*/
        .secondmenu a {
            font-size: 10px;
            color: #4A515B;
            text-align: center;
        }

        .navbar-static-top {
            background-color: #212121;
            padding-top:10px;
            padding-bottom:10px;
            margin-bottom: 5px;
        }

        .navbar-title {
            background: url('') no-repeat 10px 8px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 50px;
            font-size: 22px;
            color: #119d55;
            padding-bottom:15px;
            padding-top:15px;
        }

    </style>


</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <a class="navbar-title" href="#" id="logo">合同管理系统</a>
                   
                </div>   
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="text-right float-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>           
                
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom:50px;">
        <div class="row">
            <div class= "@( ViewBag.PageCode != null && ViewBag.PageCode =="C000" ? "hidden-div" : "col-lg-2 col-md-2 col-sm-2")" >
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="border-bottom:0px;">
                    <li class="active">
                        <a href="#">                            
                            首页
                        </a>
                       
                    </li>
                    <li>
                        <a href="#zbmenu" class="nav-header @(ViewBag.PageCode.ToString().StartsWith("C100") ? "" : "collapsed")" aria-expanded=@(ViewBag.PageCode.ToString().StartsWith("C100") ? "true" : "false") data-toggle="collapse">
                            @*<i class="glyphicon glyphicon-cog"></i>*@
                            中标合同管理
                           @* <span class="pull-right glyphicon glyphicon-chevron-down"></span>*@
                        </a>
                        <ul id="zbmenu" class="nav nav-list secondmenu  collapse @(ViewBag.PageCode.ToString().StartsWith("C100") ? "in" : "")" @(ViewBag.PageCode.ToString().StartsWith("C100") ? "aria-expanded=true" : "style = height:0px;")>
                            <li><a href="~/Contract/ContractList"> <label class=@(ViewBag.PageCode.ToString().Equals("C1001") ? "text-primary" : "")>合同查询</label></a></li>
                            <li><a href="~/Contract/ImportContract"><label class="@(ViewBag.PageCode.ToString().Equals("C1002") ? "text-primary" : "")">导入合同</label></a></li>
                            <li><a href="~/Contract/AddContract"><label class="@(ViewBag.PageCode.ToString().Equals("C1003") ? "text-primary" : "")">合同登记</label></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#cgmenu" class="nav-header @(ViewBag.PageCode.ToString().StartsWith("C200") ? "" : "collapsed")" aria-expanded=@(ViewBag.PageCode.ToString().StartsWith("C200") ? "true" : "false") data-toggle="collapse">
                            
                            采购合同管理
                           @* <span class="pull-right glyphicon glyphicon-chevron-down"></span>*@
                        </a>
                        <ul id="cgmenu" class="nav nav-list secondmenu collapse @(ViewBag.PageCode.ToString().StartsWith("C200") ? "in" : "") " @(ViewBag.PageCode.ToString().StartsWith("C200") ? "aria-expanded=true" : "style = height:0px;")>
                            <li><a href="~/cgContract/ContractList" ><label class=@(ViewBag.PageCode.ToString().Equals("C2001") ? "text-primary" : "") >合同查询</label></a></li>
                            <li><a href="~/cgContract/ImportContract"><label class="@(ViewBag.PageCode.ToString().Equals("C2002") ? "text-primary" : "")">导入合同</label></a></li>
                            <li><a href="~/cgContract/AddContract"><label class="@(ViewBag.PageCode.ToString().Equals("C2003") ? "text-primary" : "")">合同登记</label></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#lxcontractmenu" class="nav-header @(ViewBag.PageCode.ToString().StartsWith("C300") ? "" : "collapsed") " aria-expanded=@(ViewBag.PageCode.ToString().StartsWith("C300") ? "true" : "false") data-toggle="collapse">
                          
                            零星合同管理
                          @*  <span class="label label-warning pull-right">5</span>*@
                        </a>
                        <ul id="lxcontractmenu" class="nav nav-list  secondmenu collapse @(ViewBag.PageCode.ToString().StartsWith("C300") ? "in" : "") " @(ViewBag.PageCode.ToString().StartsWith("C300") ? "aria-expanded=true" : "style = height:0px;") >
                            <li><a href="~/lxContract/ContractList"><label class=@(ViewBag.PageCode.ToString().Equals("C3001") ? "text-primary" : "")>合同查询</label></a></li>
                            <li><a href="~/lxContract/ImportContract"><label class=@(ViewBag.PageCode.ToString().Equals("C3002") ? "text-primary" : "")>导入合同</label></a></li>
                            <li><a href="~/lxContract/AddContract"><label class=@(ViewBag.PageCode.ToString().Equals("C3003") ? "text-primary" : "")>合同登记</label></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#systemmanager" class="nav-header @(ViewBag.PageCode.ToString().StartsWith("U100") ? "" : "collapsed")" aria-expanded=@(ViewBag.PageCode.ToString().StartsWith("U100") ? "true" : "false") data-toggle="collapse">
                          
                            系统管理
                        </a>
                        <ul id="systemmanager" class="nav nav-list  secondmenu collapse @(ViewBag.PageCode.ToString().StartsWith("U100") ? "in" : "")" @(ViewBag.PageCode.ToString().StartsWith("U100") ? "aria-expanded=true" : "style = height:0px;")>
                            <li><a href="~/User/UserList"><label class="@(ViewBag.PageCode.ToString().Equals("U1001") ? "text-primary" : "")">用户管理</label></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class= "@(ViewBag.isLogin!=null && ViewBag.isLogin==true?"col-lg-12 col-md-12 col-sm-12":"col-lg-10 col-md-10 col-sm-10")">                
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
    <footer>
        <div class="footer_float-right ">
            <p>合同管理系统 &copy;-@DateTime.Now.Year 北京科美乾坤智能科技有限公司</>
        </div>
    </footer>
        </div>
</body>
</html>
