@{
    ViewBag.Title = "新增用户";
    ViewBag.PageCode = "U1002";
}
@model ContractMvcWeb.Models.Beans.User  


<div class="panel panel-default" >
    <div class="panel-heading"> <label>添加用户</label></div>
    <div class="panel-body  col-md-offset-2">

@using(Html.BeginForm("AddUser","User" , FormMethod.Post, new { role = "form", @class = "form-horizontal" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    var items = (List<SelectListItem>)ViewData["enableItems"];
    var userTypeItems = (List<SelectListItem>)ViewData["userTypeItems"];

      <div class="form-group ">
                @Html.LabelFor(m=>m.username, new { @class="col-lg-2 col-md-2 control-label"})               
                  <div class="col-md-4"> @Html.TextBoxFor(m => m.username, new {@class= "form-control" })</div>
      </div>
            <div class="form-group">
                    @Html.LabelFor(m=>m.sex, new { @class="col-lg-2 col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.sex, new {@class="form-control" })
                        </div>
      </div>
         <div class="form-group"> 
             @Html.LabelFor(m=>m.password, new { @class="col-lg-2 col-md-2 control-label"})
            <div class="col-md-4">  @Html.PasswordFor(m=>m.password , new {@class= "form-control" })</div>
      </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.comfirmPassword, new { @class="col-lg-2 col-md-2 control-label"})
                <div class="col-md-4">
            @Html.PasswordFor(m => m.comfirmPassword, new {@class= "form-control" })
             </div>
          </div>
           <div class="form-group ">
                @Html.LabelFor(m=>m.enable, new { @class="col-lg-2 col-md-2 control-label"})
               <div class="col-md-4">
              @Html.DropDownListFor( m=>m.enable , items  , new {@class= "form-control" })
          </div>
        </div>
             <div class="form-group ">
                @Html.LabelFor(m=>m.link, new { @class="col-lg-2 col-md-2 control-label"} ) 
                <div class="col-md-4">
            @Html.TextBoxFor(m=>m.link, new {@class= "form-control" })
             </div>
           </div>
             <div class="form-group ">
                @Html.LabelFor(m => m.address, new { @class="col-lg-2 col-md-2 control-label"})
             <div class="col-md-4">
                @Html.TextBoxFor(m => m.address, new { @class="form-control"})
             </div>
         </div>
              <div class="form-group ">
                @Html.LabelFor(m=>m.usertype, new { @class="col-lg-2 col-md-2 control-label"})
             <div class="col-md-4">
                @Html.DropDownListFor( m=> m.usertype, userTypeItems , new { @class= "form-control" })
             </div>
         </div>
            <div class="form-group ">           
                <input type="submit" value="添加" class="btn btn-default col-md-offset-2" />
       </div>
}
        </div>

    </div>